
:root {
    --color-accent: #2196f3;
    --color-text: #212121;
    --color-description: #757575;
    --color: #FFFFFF;
    --font-family:'Roboto';
}
.body {
    font-family:'Roboto' ;
    background-color: var(--color-text)
}
.list {
  list-style: none;
}
/* header */

.logo {
    font-family:'Raleway';
    font-weight: 700;
    font-size: 1.2px;
    color: #212121;
    text-decoration: none;
}
.link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 1.14px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.logoweb {
  color: #2196f3;
  font-family:'Raleway';
  text-decoration: none;
}
.link-black {
  background-color: var(--color-accent);
}
.link-blue {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}
.link-gray {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
/* навигация по странице */

.link-item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #212121;
  background-color: #2196f3;
  box-shadow: box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  text-decoration: none;
}
.link-item:hover,
.link-item:focus,
.link-item:active {
  color: #ffffff;
}
/* подвал */
.logo-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #ffffff;
  text-decoration: none;
}
.logoweb {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;

}
.benefits {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  text-decoration: none;
}
.link1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
}
.footer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  background-color: #2f303a;
  text-decoration: none;
}

