.page {
    color:hsl(0, 0%, 13%) ;
    background-color:#E5E5E5; 
}
.list {
    list-style: none;
}
.logo {color:#2196F3

}
.logo-black { color: #212121

}
.site-nav {
    color: #2196F3
}



/* цвет основного текста h1  #FFFFFF 
цвет веб студио та кнопок #2196F3;
цвет заголовков #212121;
цвет текста(описание) #757575;
цвет команді фон #E5E5E5; */